@font-face {
    font-family: title;
    src: url(./fonts/future.otf);
}

@font-face {
    font-family: pixeled;
    src: url(./fonts/pixeled.ttf);
}

* {
    font-family: title;
}

.link {
    color:inherit;
}

body {
    background-image: url(../images/background.jpg);
    background-color: grey;
    background-blend-mode: multiply;
    background-size: 100%;
}

:root {
    --tileSize: 2in;
    --tileShow: green;
    --tileDefault: #ccc;
    --tileClicked: #888;
    --tileClickedBad: orange;

    --menuBtnStart: 39%;
    --menuBtnOffset: 1.3in;
}

.tile {
    position: absolute;

    width:var(--tileSize);
    height:var(--tileSize);

    background-color:var(--tileDefault);
}

#back {
    position: fixed;

    color: white;
    font-size: 0.25in;
    font-family: title;

    transform: translate(-50%,-50%);

    left:10%;
    top:15%;

    text-align: center;

    background: #fff3;
    border:3px #ccc solid;
    border-radius: 5px;
    padding:15px;

    cursor:pointer;
}
#back:hover {
    background: #4443;
}


/* Start Menu */
#title {
    position: fixed;

    color: white;
    font-size: 1.5in;
    font-family: title;

    transform: translate(-50%,-50%);

    left:50%;
    top:18%;

    width:100%;

    text-align: center;
}

#startMenu button {
    position: fixed;

    color: white;
    font-family: title;

    transform: translate(-50%,-50%);

    left: 50%;

    text-align: center;

    background: none;
    border:3px #ccc solid;
    border-radius: 5px;
    width:3in;
    height: 1in;

    cursor:pointer;
}
#start {
    top:var(--menuBtnStart);
    font-size: 0.7in;
    font-weight: 900;
}
#stats {
    top:calc(var(--menuBtnStart) + var(--menuBtnOffset) * 1);
    font-size: 0.55in;
}
#tutBtn {
    top:calc(var(--menuBtnStart) + var(--menuBtnOffset) * 2);
    font-size: 0.4in;
}
#creditsBtn {
    top:calc(var(--menuBtnStart) + var(--menuBtnOffset) * 3);
    font-size: 0.55in;
    font-weight: 900;
}
#startMenu button:hover {
    background: #0006;
}


/* Game Elements */

#data {
    position: absolute;

    width:10in;
    height: 1in;
    background-color:#3338;
    border-radius: 20px;

    text-align: center;

    transform: translate(-50%,-50%);
    left:50%;
    top:10%;
}

#data a {
    font-family: pixeled;
    color:white;
    position: absolute;
}

#score {
    top:50%;
    transform: translate(-50%,-50%);

    font-size:1.5in;
}

#lvl {
    font-size: 0.3in;
    left:22.5%;
    top:50%;
    transform: translate(-50%,-50%);
}

#highscore {
    font-size: 0.3in;
    left:77.5%;
    top:50%;
    transform: translate(-50%,-50%);
}


/* Screens */
#screens div {
    position: fixed;

    width:7in;
    height:7in;
    padding:20px;

    border-radius: 10px;

    transform: translate(-50%,-50%);
    left:50%;
    top: 50%;

    color:white;
    text-align: center;
}

#gameover {
    font-size: 1in;
    background:#0008;
}
#gameover button {
    position: fixed;

    padding: 10px;
    
    background-color: white;
    border:none;
    border-radius: 5px;
    font-size:0.4in;

    transform: translate(-50%,-50%);
    left:50%;

    cursor:pointer;
}
#gameover .restart {
    top:60%;
}
#gameover .home {
    top:80%;
}
#gameover .stats {
    position: fixed;

    display: block;

    background:none;
    font-size:0.5in;
    
    transform: translate(-50%,-50%);
    top:65%;
}
#gameover .stats .newHighscore {
    font-size:0.3in;
}

#nextLevel {
    background-color: #8888;
    font-size: 0.75in;

    width:5in !important;
    height:5in !important;
}
#nextLevel p {
    transform: translate(0,0%);
}
#nextLevel button {
    position: fixed;

    padding: 10px;
    
    background-color: white;
    border:none;
    border-radius: 5px;
    font-size:0.4in;

    transform: translate(-50%,50%);
    left:50%;

    cursor:pointer;

    top:50%;
}

#tutComplete {
    background-color: #0008;
    font-size: 0.75in;

    width:5in !important;
    height:5in !important;
}
#tutComplete p {
    transform: translate(0,0%);
}
#tutComplete button {
    position: fixed;

    padding: 10px;
    
    background-color: white;
    border:none;
    border-radius: 5px;
    font-size:0.4in;

    transform: translate(-50%,50%);
    left:50%;

    cursor:pointer;

    top:50%;
}

/* Stats Menu */
#statsMenu {
    text-align: center;
    color:white;
}

#statsMenu .title {
    position:fixed;
    
    font-size:1.25in;

    transform: translate(-50%,-50%);
    top:20%;
    left:50%;
}

#statsMenu .data {
    position: fixed;

    background-color: #0008;
    border-radius: 20px;

    width:fit-content;
    height:fit-content;

    transform: translate(-50%,-50%);

    left:50%;
    top:50%;

    padding:0.5in;
}

#statsMenu .data a {
    font-size: 0.5in;
}


/* Credits */
#credits {
    text-align: center;
    color:white;

    font-family: 'Courier New', Courier, monospace;
}

#credits .title {
    position:fixed;
    
    font-size:1.25in;
    font-family: inherit;

    transform: translate(-50%,-50%);
    top:15%;
    left:50%;
}

#credits .p {
    position:absolute;

    font-family: inherit;
    font-size: 0.25in;
    
    transform: translate(-50%,0);
    left:50%;

    width:7in;
    
    background-color: #0008;
    padding:10px;
    border-radius: 10px;
}
#credits .about {
    top:30%;
}
#credits .other {
    top:calc(30% + 3.5in);
}
#credits .copyright {
    position:fixed;
    bottom: 0;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}